# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Model files
backend/models/*.pth
backend/models/*.pkl

# Node / React
node_modules/
frontend/node_modules/
frontend/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/